 /* Extended version of styles.css for index2.html */
html{
    font-size: 16px; /* this is default size */
} 
body{
    margin: 0p x; 
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;  /* this is default */ 
    font-size:1rem;
    color:#404040;
}

/* @media screen and (min-width:500px) and (max-width:700px) {
    body{
        background-color: lightblue; /* at width range between 500 abd 700 the background color will remain lightblue otherwise it will be white.  } */ 
    
} */

h1,h2,h3,h4,h5,h6 {
    font-family:'inter', sans-serif;
    font-weight:600; 
    color:#222222;
} 

h1{font-size:2.5 rem; } /* these all are recommended font sizes  */
h2{font-size:2 rem; } 
h3{font-size:1.75 rem; }
h4{font-size:1.75 rem; }
h5{font-size:1.25 rem; }
h6{font-size:1rem; }

#navbar{
    padding:8px; 
}

a {
    color:#3b82f6;
}
a:hover{ /*changes the text on hovering over it */
    color:#1D4ED8;
}

h1 {
    text-align: center;
    color: black;
}

#banner { 
    width:100% ;
    object-fit: cover; /* keeps the image from streching */
    
}

#about{    
    display: flex; /* horizontly aligns the two div that are vertically 
    (by default) ; mainly applied on parent   */
    max-width: 800px;
    margin: 0 auto;
    padding: 7px;
}

#description {
    width: 100%;
    padding: 0px 10px;
    font-size: 1.25rem;
    
    
}
#team-image {
    border-radius: 10px;
    width:100%;
    
}
 
#jobs-table{
   width:100%;
   border: 1px solid gray;
   border-collapse: collapse;
   
}
#jobs-table tr:nth-child(odd) {
    background-color:#ccfbf1 ;
}


#jobs-header-row th{
    border: 1px solid grey;
    padding: 8px;
    background-color: #7dd3fc;
    text-align: center;
    color:#222222;
}

.jobs-data-row td{
    border: 1px solid gray;
    padding: 8px;
}

h2{
    text-align: center;
}

#jobs{
    margin: 0 auto;
    max-width: 800px;
    padding: 0 10px;
}

h3{
    margin-bottom: 3px;
    margin-top: 2px;
}


 #application{
    max-width:800px;
    margin: 0 auto;
    padding: 0 8px;
 }
 #application-form label{
    font-weight:700;
 }
 #application-form input,select,textarea {
    padding:5px;
    font-size:1.25rem;
    margin:5px 0px 15px 0px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow:1px 2px 2px grey;
 }

.form-group textarea {
    width:80%;
}
.form-group input [type = "chechbox"] {
    height:20px;
    width:20px;
}
.form-group input [type = "submit"]{
    background-color:rgb(255, 183, 0);
    color:white;
    font-weight:500;
    padding:10px;
    cursor:pointer;
}

#footer{
    background-color:#f3f4f6;
    padding: 6px;
    margin-top: 32px;
    text-align: center;
}

.footer-links {
    list-style: none;
  
}

.footer-links li { /* selects <li> tag under the class (or class)= footer links*/
    display: inline; /*  like flex but applied on child or a particular div */
    margin: 0 15px;
}

.copyright {
    color: grey;
    font-size: 0.85rem;
}